html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #AAA;
  font-family: "Inconsolata", monospace;
}

#geodate {
  font-size: calc(24px + 4vw);
}
#geodate span {
  color: #555;
}

#position {
  font-size: calc(16px + 2vw);
  position: absolute;
  align-self: end;
  margin-bottom: 0.5em;
}
