body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#geodate {
  color: #555;
  font-size: 8vw;
  font-family: "Inconsolata", monospace;
}
#geodate span {
  color: #AAA;  
}
