@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local("Inconsolata Regular "),
    local("Inconsolata-Regular"),
    url("/node_modules/typeface-inconsolata/files/inconsolata-latin-400.woff2") format("woff2"),
    url("/node_modules/typeface-inconsolata/files/inconsolata-latin-400.woff") format("woff");
}

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#001, #002 66%, #112);
}
#sky,
#sun {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#sky {
  background: linear-gradient(#125, #136 15%, #19C);
  transition: opacity 2s;
  opacity: 1.0;
}
#sun {
  background: radial-gradient(circle at 105% 0%, #FFF, #FFC 10%, transparent);
  opacity: 0.0;
}

body, code {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inconsolata", monospace;
}

#time {
  font-size: calc(24px + 4vw);
}
#time code {
  color: rgba(255, 255, 255, 0.9);
}
#time code:hover {
}

#position {
  font-size: calc(16px + 2vw);
  position: absolute;
  align-self: start;
  margin-top: 0.5em;
}
@media (max-width: 575px) {
  .extra {
    display: none;
  }
}

#time {
  position: relative;
}
code:hover:after {
  font-size: calc(16px + 2vw);
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
}

#latitude:hover:after {
  content: "(latitude)";
}
#longitude:hover:after {
  content: "(longitude)";
}
#century:hover:after {
  content: "(centuries since epoch)";
}
#year:hover:after {
  content: "(years)";
}
#month:hover:after {
  content: "(months since second solstice)";
}
#day:hover:after {
  content: "(days since new moon)";
}
#centiday:hover:after {
  content: "(centidays since midnight)";
}
#dimiday:hover:after {
  content: "(dimidays)";
}
#microday:hover:after {
  content: "(microdays)";
}
